{% extends "base.html" %}

{% block content %}

{% for contact in object_list %}
<p>
    <button class="btn btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#{{contact.id}}" aria-expanded="false" aria-controls="collapse{{contact.id}}">
       {{contact.contact}}
    </button>
</p>

<div class="{{contact.id}}" id="collapse{{contact.id}}">
    <div class="card card-body">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Mensaje" aria-label="Recipient's username"
                aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Enviar</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}