<!DOCTYPE html>
{% load static %}

{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Wh</title>
  </head>
  <body>
    <div class="container mycontent">
      {% block content %}
        
      {% endblock %}
    </div>
  </body> 
</html>
