{% extends "base.html" %}

{% block group_content %}

<div class="col-md-8">
    <div class="list-group">
        {% for contact in object_list %}
        <a class='list-group-item' href="#">
            <h3 class='title list-group-item-heading'>{{contact.contact}}</h3>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}